<div class="post-meta">
  <span class="meta-item">{{ .Date.Format (.Site.Params.dateFormat | default "2 January 2006") }}</span>
  {{ if .Site.Params.showReadingTime }}
    <span class="meta-sep">•</span>
    <span class="meta-item">{{ .ReadingTime }} min read</span>
  {{ end }}
  {{ if .Site.Params.showWordCount }}
    <span class="meta-sep">•</span>
    <span class="meta-item">{{ .WordCount }} words</span>
  {{ end }}
</div>

{{ with .Params.tags }}
  <div class="post-tags">
    {{ range . }}
      <a class="tag" href="{{ printf "/tags/%s/" (urlize .) | relURL }}">{{ . }}</a>
    {{ end }}
  </div>
{{ end }}
