{{- if .Page.Scratch.Get "needsSlideshow" }}
  <script src="{{ "js/slideshow.js" | relURL }}" defer></script>
{{- end }}

{{- $content := .Content | default "" -}}
{{- $needsMermaid := false -}}
{{- if .Params.mermaid -}}
  {{- $needsMermaid = true -}}
{{- else if gt (len (findRE "language-mermaid|class=\\\"mermaid\\\"" $content)) 0 -}}
  {{- $needsMermaid = true -}}
{{- end -}}
{{- if $needsMermaid }}
  <script src="{{ "vendor/mermaid/mermaid.min.js" | relURL }}" defer></script>
  <script src="{{ "js/mermaid.js" | relURL }}" defer></script>
{{- end }}

{{- with .Site.Params.customJS }}
  {{- range . }}
    <script src="{{ . | relURL }}" defer></script>
  {{- end }}
{{- end }}
