<aside class="sidebar sidebar-right" aria-label="Page sidebar">
  {{ $allPages := .Site.RegularPages }}
  {{ $posts := where $allPages "Section" "posts" }}
  {{ $totalWords := 0 }}
  {{ $totalRead := 0 }}
  {{ range $allPages }}
    {{ $totalWords = add $totalWords .WordCount }}
    {{ $totalRead = add $totalRead .ReadingTime }}
  {{ end }}
  {{ $firstPost := index $posts.ByDate 0 }}
  {{ $latestPost := index $posts.ByDate.Reverse 0 }}
  <section class="sidebar-box">
    <h2>Site Info</h2>
    <dl class="sidebar-facts">
      <dt>Posts</dt>
      <dd>{{ len $posts }}</dd>
      <dt>Pages</dt>
      <dd>{{ len $allPages }}</dd>
      <dt>Reading</dt>
      <dd>{{ $totalWords }} words</dd>
      <dt>Read Time</dt>
      <dd>{{ $totalRead }} min</dd>
      <dt>Since</dt>
      <dd>{{ $firstPost.Date.Format "2006" }}</dd>
      <dt>Latest</dt>
      <dd>{{ $latestPost.Date.Format ($.Site.Params.dateFormat | default "2 January 2006") }}</dd>
    </dl>
  </section>

  {{ $papers := .Site.Data.recent_papers.papers }}
  <section class="sidebar-box sidebar-papers-box">
    <h2>Recently Read Papers</h2>
    <ul class="sidebar-list paper-list">
      {{ range first 3 $papers }}
        <li><a href="{{ .url }}">{{ .title }}</a></li>
      {{ end }}
    </ul>
  </section>

  {{ with .Params.tags }}
    <section class="sidebar-box">
      <h2>Tags</h2>
      <p class="sidebar-tags">
        {{ range $index, $tag := . }}
          {{ if gt $index 0 }}, {{ end }}<a href="{{ printf "/tags/%s/" (urlize $tag) | relURL }}">{{ $tag }}</a>
        {{ end }}
      </p>
    </section>
  {{ end }}
</aside>
